<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD</display-name>
  <welcome-file-list>
    <welcome-file>CRUD.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MotoristaController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.MotoristaController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MotoristaListaController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.MotoristaListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotoristaListaController</servlet-name>
    <url-pattern>/MotoristaListaController.li</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MotoristaController</servlet-name>
    <url-pattern>/MotoristaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.lo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Visualizar</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.Visualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visualizar</servlet-name>
    <url-pattern>/Visualizar.la</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusCadastrados</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.BusCadastrados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusCadastrados</servlet-name>
    <url-pattern>/BusCadastrados.bc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Relatorio</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.Relatorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Relatorio</servlet-name>
    <url-pattern>/RelatorioMotorista.re</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnibusController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.OnibusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnibusController</servlet-name>
    <url-pattern>/OnibusController.oc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnibusListaController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.OnibusListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnibusListaController</servlet-name>
    <url-pattern>/OnibusListaController.ol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RotaController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.RotaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RotaController</servlet-name>
    <url-pattern>/RotaController.ro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RotaListaController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.RotaListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RotaListaController</servlet-name>
    <url-pattern>/RotaListaController.rl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RotasCadastradas</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.RotasCadastradas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RotasCadastradas</servlet-name>
    <url-pattern>/RotasCadastradas.rc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RelatorioBus</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.RelatorioBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioBus</servlet-name>
    <url-pattern>/RelatorioBus.br</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RotasRelatorio</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.RotasRelatorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RotasRelatorio</servlet-name>
    <url-pattern>/RotasRelatorio.rr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlunoController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.AlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoController</servlet-name>
    <url-pattern>/AlunoController.al</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Teste</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.Teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste.tt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlunoCadastrados</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.AlunoCadastrados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoCadastrados</servlet-name>
    <url-pattern>/AlunoCadastrados.acs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlunoListaController</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.AlunoListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoListaController</servlet-name>
    <url-pattern>/AlunoListaController.alc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RelatorioAluno</servlet-name>
    <servlet-class>br.ucsal.transporte.controller.RelatorioAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioAluno</servlet-name>
    <url-pattern>/RelatorioAluno.rla</url-pattern>
  </servlet-mapping>
</web-app>